@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap");
* {
  font-family: "Poppins";
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
#root {
  width: 100%;
  height: 100%;
}
body,
html {
  width: 100vw;
  height: 100vh;
  max-width: 100vw;
  max-height: 100vh;
  overflow-x: hidden;
}
main {
  background-color: #f8f8f8;
  padding-top: 3.125rem;
  padding-left: 3.125rem;
  width: 100%;
  height: 100%;
}
li {
  list-style: none;
}
a,
a:visited {
  text-decoration: none;
  color: inherit;
}
a.active {
  color: red;
}
