@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap");
* {
  font-family: "Poppins";
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
#root {
  width: 100%;
  max-width: 100vw;
  height: 100%;
  max-height: 100vh;
  overflow-x: hidden;
}
body,
html {
  max-width: 100vw;
  width: 100vw;
  height: 100vh;
}
main {
  background-color: #f8f8f8;
  padding-top: 20px;
  padding-left: 3.125rem;
  padding-right: 3.125rem;
  width: 100%;
  max-width: 100%;
  height: 100%;
  overflow-x: hidden;
}
li {
  list-style: none;
}
a,
a:visited {
  text-decoration: none;
  color: inherit;
}
a.active {
  color: red;
}
.notices {
  display: flex;
  gap: 1rem;
}
.notice {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border-radius: 12px;
  padding: 20px;
  width: 100%;
  background-color: white;
  border: 1px solid #ebebeb;
  transition: all 0.3s ease-out;
}
.notice__subject {
  flex-grow: 1;
  font-size: 12px;
  font-style: italic;
}
.notice:hover {
  cursor: pointer;
  box-shadow: 0px 16px 30px #00000014;
  transform: translateY(-5px);
}
hr {
  border: 1px solid grey;
  border-radius: 5px;
}
